@model Shop.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BarCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BarCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Id)
            
        </dd>
        <dd>
            <button id="buy" class="btn btn-primary ">Buy</button>
        </dd>
        
    </dl>
</div>
@section scripts
    {
    <script>
        
        var cart = (JSON.parse(localStorage.getItem('cart')) !== null) ? JSON.parse(localStorage.getItem('cart')) : { itemID: []};
        var item = {id:'@Model.Id',name:'@Model.Name', photoUrl:'@Model.PhotoUrl',price:'@Model.Price', quantity:'@Model.Quantity'};
        $(document).ready(function () {
           

             $("#buy").click(function () {

                 
                 window.localStorage.setItem("cart", JSON.stringify(cart));
                 
                 cart.itemID.push(item);
                
               
                

            });

        });
        

    </script>
    }
